body{
  background-color: #F3F7F0;
}

.jumbotron{
  background-image: url("https://picsum.photos/g/1400/400/?random");
}

main h1{
  color: white;
}


blockquote{
  margin-top: 30px;
}

footer{
  margin-top: 25px;
}

.space{
  padding-bottom: 25px;
}
