@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

body{
  background-color: #F3F7F0;
}

h1, h2, h3, h5{
  font-family: 'Roboto',sans-serif;
  color: white;
}

p, button, .font{
  font-family: 'Playfair Display',sans-serif;
  color: white;
}

.blackText{
  color:black;
  font-family: 'Playfair Display',sans-serif;
}

.jumbotron{
  background-image: url("https://picsum.photos/g/1400/400/?random");
}

h2{
  margin-top: 15px;
}

blockquote{
  margin-top: 30px;
  margin-bottom: 30px;
  color:black;
}

footer{
  margin-top: 25px;
}

.space{
  padding-bottom: 25px;
}

.padding{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
